$body-font: "Source Sans 3", sans-serif;
$logo-font: "Bungee", cursive;
$primary-bg-clr: #f4f1ec;
$primary-text-clr: #545149;
$secondary-clr: #4056a1;
$accent-clr: #d99c23;
$warning-clr: #ff0000;
$shadow-clr: #c5cbe3;
$white-clr: #fff;

@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
