@use "variables";

header.user {
  padding-top: 120px;
  height: calc(400px + 120px);
  @include variables.flex(column, center, center);
  background-color: variables.$accent-clr;
  background-image: url(../images/old-map.png);
  h2 {
    text-align: center;
    margin: 0;
    color: variables.$white-clr;
    span {
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 1024px) {
  header.user {
    margin-top: 150px;
    padding-top: 0;
    margin-left: 1.5em;
    height: 400px;
    flex-basis: 30%;
  }
}
