@use "variables";

section.new-tweet {
  display: none;
  margin-bottom: 1em;
  form {
    font-weight: 600;
    textarea {
      border: none;
      border-bottom: 5px solid variables.$primary-text-clr;
      resize: none;
      background: inherit;
      width: 100%;
      margin-bottom: 0.5em;
      font-weight: inherit;
      outline-color: variables.$shadow-clr;
    }
    div {
      display: flex;
      justify-content: space-between;
      font-family: variables.$logo-font;
    }
    button {
      background: variables.$secondary-clr;
      color: variables.$white-clr;
      border: none;
      padding: 0 0.5em;
    }
  }
}

.invalid {
  color: variables.$warning-clr;
}

#error {
  border: 3px solid variables.$warning-clr;
  padding: 0.5em;
  margin-bottom: 1em;
  gap: 0.5em;
  display: none;
  p {
    margin: 0;
    display: inline-block;
  }
}
