@use "variables";

article.tweet {
  border: 5px solid variables.$primary-text-clr;
  padding: 0.5em;
  transition: 0.3s box-shadow ease;
  margin-block: 1em;
  &:hover {
    box-shadow: 8px 8px variables.$shadow-clr;
  }
  img {
    max-width: 50px;
  }
  header,
  header div,
  footer {
    @include variables.flex(null, space-between, center);
  }

  .handle {
    color: variables.$shadow-clr;
    font-weight: 600;
    margin-right: 0.5em;
    word-wrap: break-word;
  }

  & > p {
    font-weight: 600;
    padding-inline: 1em;
    word-wrap: break-word;
  }

  footer {
    border-top: 5px solid variables.$primary-text-clr;
    padding-inline: 1em;
    font-weight: 600;
    font-size: 0.9rem;
    i {
      color: variables.$secondary-clr;
      cursor: pointer;
      margin-left: 8px;
      &:hover {
        color: variables.$accent-clr;
      }
    }
  }
  p.create-time {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  article.tweet {
    margin-top: 0;
  }
}
