header {
  padding-top: 120px;
  height: calc(400px + 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d99c23;
  background-image: url(../images/old-map.png);
}

header h2 {
  text-align: center;
  margin: 0;
}
